.history-page {
    min-height: 100vh;
    padding-bottom: 140px;  /* increased space */
}

.trip-box {
    background: #535353;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

@media (prefers-color-scheme: light) {
    .trip-box {
        background: #f6f6f6;
        /*border: 1px solid #d3d3d3;*/
    }
}