.history-page {
    min-height: 100vh;
    padding-bottom: 140px;  /* increased space */
}

.trip-box {
    background: #535353;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.newTripCircle {
    background: #0835c8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 25px;
}

@media (prefers-color-scheme: light) {
    .trip-box {
        background: #f6f6f6;
        /*border: 1px solid #d3d3d3;*/
    }
}