

.welcome-container {
    display: flex;
    place-items: center;
    flex-direction: column;
    height: 100vh;
}

.for-you,
.welcome-header {
    padding: 20px;
    width:300px;
}

.btn-primary {
    margin-top: 15px;
    padding: 15px 10px;
    background-color: #ff5a5f;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color:inherit;
}

.card {
    background: white;
    color: black;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.card-title {
    font-size: 20px;
    font-weight: 700;
}
.card-category {
    display: inline-block;
    background: #e0f0ff;
    color: #0070c9;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    width: fit-content;
}
.card-rating {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.card-distance {
    font-size: 14px;
    color: #678;
}
.card-image {
    object-fit: contain;
    background: #f8f8f8;
    
}

.statistic {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}