

.welcome-container {
    display: flex;
    place-items: center;
    flex-direction: column;
    height: 100vh;
}

.for-you,
.welcome-header,
.trending {
    padding: 20px;
    width:300px;
}

.btn-primary {
    margin-top: 15px;
    padding: 15px 10px;
    background-color: #ff5a5f;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color:inherit;
}

.forYouCard {
    background: white;
    color: black;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.statistic {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}