.content {
    padding: 0 0 60px;
    text-align: left;
}

.bigField {
    width: 100%;
    height: 36px;
    font-size: 32px;
    font-family: inherit;
    color: inherit;
    box-sizing: border-box;
}
.content span {
    padding-left: 10px;
    padding-right: 10px;
}
.content label {
    padding-right: 10px;
}
.smallField {
    font-family: inherit;
    font-size: 16px;
    color: inherit;
}
.content button {
    font-family: inherit;
    color: inherit;
    width: 100%;
}
.spacer {
    padding-top: 20px;
}
.transportBoxes {
    display: flex;
    margin-bottom: 0;
}
.transportBoxes label {
    padding-right: 20px;
    padding-top: 10px;
}
.slider {
    width: 100%;
}
.sliderLabel {
    display: block;
    text-align: center;
    padding-bottom: 20px;
}
.generateButton {
    font-size: 24px;
}