

.settingsRoot {
    padding-bottom: 60px;
    text-align: left;
}

.settingsCard {
    width: 94%;
    text-align: left;
    display: flex;
    border-radius: 12px;
    margin: 0 auto;
    padding: 12px;
    background-color: gray;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px black;
}

.profileCard {
    height: 90px;
    align-items: center;
}

.categoriesCard {
    height: auto;
    align-items: start;
    margin-top: 20px;
    flex-direction: column;
}

.settingsOption {
    display: flex;
    padding: 10px;
    align-items: center;
    color: white;
}

.settingsCardsContainer {
    align-items: center;
    width: 100%;
}

.profileCardName {
    margin: 0;
}

.categoryHeader {
    padding-left: 5px;
    padding-bottom: 10px;
    color: white;
}

.userpicIcon {
    mask-image: url(../../assets/user_pic.svg);
    width: 20px;
    height: 20px;
    margin-left: 0;
    margin-right: 10px;
}

.dividerLine {
    height: 1px;
    width: 100%;
    background-color: white;
    padding: 0;
}
