.trending_container {
    width: 100%;
    height: 190px;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.trending_card {
    display: inline-block;
    width: 250px;
    height: 180px;
    background: rgba(227, 227, 227, 0.07);
    border-radius: 10px;
    margin-right:10px;
    text-align: left;
    box-shadow: rgba(60, 60, 60, 0.15) 0px 5px 5px;
}

.trending_card img {
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.trending_card_image_container {
    height: 50%;
    width: 100%;
}