#root {
    max-width: 580px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.content {
    padding: 16px;
    padding-bottom: 70px;
}

.navbarContainer__nav {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarContainer__nav button {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid black;

}

