#root {
    max-width: 580px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    text-decoration: none;
}

.content {
    padding: 16px;
    padding-bottom: 70px;
}

.navbarContainer__top {
    border: black 1px solid;
    top: 0; left: 0; right: 0;
    padding-left: 15px;
    padding-top: 15px;
    height: 40px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #1a1a1a;
}

.navbarContainer__main {
    padding-top: 20px;
}

.navbarContainer__nav {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarContainer__nav button {
    border-radius: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    color: inherit;
}

@media (prefers-color-scheme: light) {
    .navbarContainer__top {
        background-color: #f9f9f9;
    }
}
