#root {
    max-width: 580px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    text-decoration: none;
}

.content {
    padding: 16px;
    padding-bottom: 70px;
}

.navbarContainer__top {
    border-bottom: black 1px solid;
    top: 0; left: 0; right: 0;
    padding: 10px 15px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #1a1a1a;
    box-sizing: border-box;
}

.navbarContainer__greeting {
    margin: 0;
}

.navbarContainer__main {
    padding-top: 20px;
}

.navbarContainer__nav {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarContainer__nav button {
    border-radius: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    color: inherit;
    justify-content: center;
}
.navbarContainer__settingsButton {
    width: 60px;
    margin-left: auto;
}

.icon {
    width: 100%;
    height: 24px;
    background-color: #f1f1f1;
    mask-position: center;
    mask-repeat: no-repeat;
}

.homeIcon {
    mask-image: url(../assets/home.svg);
}

.newIcon {
    mask-image: url(../assets/new.svg);
}

.mapIcon {
    mask-image: url(../assets/map.svg);
}

.settingsIcon {
    mask-image: url(../assets/settings.svg);
}

@media (prefers-color-scheme: light) {
    .navbarContainer__top {
        background-color: #f9f9f9;
    }
    .icon {
        background-color: #0a0a0a;
    }
}
